@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var username = encoder.Encode(User.Identity.Name);
}

<div>
    <h2> Public Timeline </h2>
    @if(User.Identity.IsAuthenticated) {
        <div class="cheepbox">
            <h3>Tell others what's on your mind @Html.Raw(username)!</h3>
            <form method="post">
                <input required type="text" asp-for="Message" placeholder="no yapping pls. 160 characters max!">
                <input type="submit" value="Cheep">
            </form>
        </div>
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                @if (cheep.Author != null) {
                    //Github accounts only have UserName and not FirstName while the authors in the DBinitializer only have FirstName and not UserName.
                    @if (String.IsNullOrEmpty(cheep.Author.UserName) && !String.IsNullOrEmpty(cheep.Author.FirstName))
                    {
                        cheep.Author.UserName = cheep.Author.FirstName;
                    }
                    <li>
                        <p>
                            <a href="/@cheep.Author.UserName">@cheep.Author.UserName</a>
                            @cheep.Text
                            <small>&mdash; @cheep.TimeStamp.ToString("yyyy-MM-dd HH:mm")</small>
                        </p>
                    </li>
                }
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

