@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon/WinxW.ico">
</head>
<body>
<div class="page">
    <h1><img src="/images/WinxW.png" alt="Wings1"/>Chirp!</h1>


    <div class="navigation">
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <a href="/@(User.Identity.Name)">My timeline</a> |
                <a href="/">Public timeline</a> |
                <a href="/Account/Logout">Logout [@User.Identity.Name]</a>
            </div>
        }
        else
        {
            <div>
                <a href="/">Public timeline</a> |
                <a href="/Account/Register">Register</a> |
                <a href="/Account/Login">Login</a>
            </div>
        }
    </div>

    <div class="body">
        @RenderBody()
    </div>

    <div class="footer">
        Chirp &mdash; An ASP.NET Application<br />
        Image: Winx Club Wings from pikpng.com (embedded under personal-use terms)
    </div>
</div>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
