# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Restore dependencies
      run: dotnet restore src/Chirp.Web/Chirp.Web.csproj
      
    - name: Build all projects
      run: dotnet build src/Chirp.Web/Chirp.Web.csproj --configuration Release --no-restore
      
    - name: Test
      run: |
       echo "{
        \"authentication:github:clientSecret\": \"${{ secrets.GITHUBCLIENTSECRET }}\",
        \"authentication:github:clientId\": \"${{ secrets.GITHUBCLIENTID }}\"
       }" > ~/.microsoft/usersecrets/d4d4acf8-5e86-41ab-a234-fa8ac0efadc6/secrets.json
       dotnet test